.index_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.index_container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(to left, #005c97, #006cb1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #005c97, #006cb1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    clip-path: polygon(46% 24%, 80% 6%, 100% 50%, 100% 99%, 0 100%, 0 0);
}

.landing_name {
    display: flex;
    font-size: 70px;
    font-weight: 800;
    animation-name: fade;
    animation-duration: 1s;
}

.landing_desc {
    animation-name: fade;
    animation-duration: 1s;
}

.headshot {
    position: relative;
    z-index: 2;
    height: 300px;
    width: 300px;
    border-radius: 10%;
    box-shadow: 0px 0px 40px -18px rgba(0,0,0,0.48);
    animation-name: pop;
    animation-duration: 1s;
}

.social_ul{
    display: flex;
}

.social {
    height: 35px;
    margin: 20px 10px 0px 10px;
    animation-name: fade;
    animation-duration: 1.5s;
}

a:hover > .social > path {
    color: #005C97 !important;
}

@keyframes pop {
    0%   {transform: scale(0.8);}
    50%  {transform: scale(1.05);}
    100% {transform: scale(1.0);}
}

@keyframes fade {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 800px) {
    .landing_name {
        font-size: 40px;
    }

    .headshot {
        height: 200px;
        width: 200px;
    }
}