.nav {
	display: flex;
	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgb(248, 248, 248);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
	backdrop-filter: blur(10px);}

.nav_ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 100%;
	padding: 10px;
	margin: 0;
	text-align: left;
	transition: display 0.3s;
}

.nav_a {
	text-decoration: none;
	animation-name: pop_up;
	animation-duration: 1s;
}

.name {
	display: flex;
	position: absolute;
	left: 10%;
    white-space:nowrap;
    font-family: megrim, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.name .nav_a {
	font-weight: 900;
}

.filler {
	display: flex;
	flex-basis: 60%;
	font-size: 36px;
	font-family: pika-ultra-script, sans-serif;
	font-style: normal;
	font-weight: 400;
	white-space:nowrap;
	visibility: hidden;
}

.nav_a_filler {
    font-size: 36px;
}


.name a {
    font-family: megrim, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.nav_link {
	display: flex;
	margin-right: 10px;
	cursor: pointer;
}

@keyframes pop_up {
    0%   {margin-top: unset;}
    50%  {margin-top: -10px;}
    100% {margin-top: unset;}
}


.nav_link a:hover {
	color: #ccc;
}


.menuIcon {
	display: none;
	position: absolute;
	height: 40px;
	width: 50px;
	cursor: pointer;
	background-color: transparent;
	transform: scale(0.45);
}

.bar {
	display: block;
	position: absolute;
	height: 8px;
	width: 100%;
	transform: rotate(0deg);
	transition: transform 0.3s, margin-top 0.3s;
	background: #005c97; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #005c97, #006cb1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #005c97, #006cb1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
}

.rotate_1 {
	transform: rotate(45deg);
	margin-top: 18px;
}

.bar:nth-child(2) {
	margin-top: 18px;
	transition: transform 0.3s, margin-top 0.3s;
}

.rotate_2 {
	transform: rotate(-45deg);
	margin-top: 20px;
}

.bar:nth-child(3) {
	margin-top: 36px;
	transition: opacity 0.3s;
}

.rotate_3 {
	opacity: 0;
}

@media only screen and (max-width: 800px) {

	.nav_a {
		animation: none;
	}

	.name {
		animation-name: pop_up;
		animation-duration: 1s;
	}

	.nav_ul {
		flex-direction: column;
		text-align: left;
	}

	.nav_link {
		display: none;
		text-align: left;
		width: 100%;
		padding: 10px 20px 10px 0;
		margin: 0 auto;
		transition: display 0.3s;
	}
	
	.filler {
		flex-basis: 100%;
	}

	.active { 
		display: flex;
		padding-left: 9%;
	}

	.menuIcon {
		display: block;
		position: absolute;
		top: 10px;
		right: 10%;
		font-size: 20px;
		animation-name: pop_up;
		animation-duration: 1s;
	}
}
